.page {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.formarea {
  width: 25%;
}
.displayarea {
  width: 75%;
}
