.box {
  width: 60vw;
  height: 3rem;
  background-color: white;
  color: black;
}
.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 223, 125);
  gap: 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
