.box {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  height: fit-content;
  background-color: white;
  color: black;
}
.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 94, 77);
  gap: 1px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
